body {
background-color: aliceblue;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'
}
.jumbotron {
background-image:url("../images/ElectSmart\ Logo-01.jpg");
background-position: center;
background-repeat: no-repeat;
background-color: aliceblue;;
opacity: 1;
margin-top: -80px;
}

#november {
color: white;
margin-top: 80px;
padding-top: 90px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'
}

th {

    background: navy;
    color: white;
}
footer {
    text-align: center;
}